@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,400;0,700;1,500&display=fallback');
:root {
    font-family: 'Cormorant Infant', serif;
    background-image: url(.img/white-wall.jpg);
    background-size: cover;
    scroll-behavior: smooth;
    height: 100%;
    --main-color: black;
    --accent-color: black;
}

header {
    font-family: 'Cormorant Infant', serif;
    font-size: 25px;
    font-weight: 700;
    }
 /*css по плеєру*/
   .audio-player {
    width: 100%;
    height: 2em;
    background-color: rgba(221, 221, 221, 0.5);
    position: fixed;
    bottom: 0px;
    display: flex;
    align-items: center;
    padding: 0.5em;
    box-sizing: border-box;
    left: 0;
}
.audio-player button {
    margin-left: 0.5em;
}

.audio-track {
flex: 1 1 50%;
background-color: aliceblue;
}

.time {
    width: 0;
    height: 3px;
    background-color: #474747
}
  
/* закінчення */ 
body {
    max-width: 980px;
    margin: auto;
}

IMG.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.burger-icon {
    font-size: 3rem;
}

.burger-icon {
    cursor: pointer;
}

    #burger-checkbox {
    display: none;
}

header .menu {
    list-style-type: none;
    display: none;
}

header input:checked ~ .menu {
    display: flex;
} 

header .menu {
    flex-direction: column;
}

header .menu a {
    text-decoration: none;
    text-transform: inherit;
    color: var(--main-color);
}

header .menu a:hover {
    font-weight: bold;
    color: var(--accent-color);
}

.menu li {
    padding-right: 0.5em;
    white-space: nowrap;
}

@media (min-width:740px) {
    
    header nav {
    display: flex;
    align-items: stretch;
    }
    
    header .burger-icon {
        display: none;
    }
    
    header .menu {
        display: flex;
        justify-content: space-between;
        flex: 1;
        align-items: center;
        flex-direction: row; 
    }
}

h1 {
    font-size: 50px;
    font-weight:bold;
    color: var(--main-color)
}

p {
    font-size: 25px;
    font-style: normal;    
}

main {
    font-family:'Cormorant Infant', serif;
    color: var(--main-color);   
}
h2 {
    font-size: 50px;
    font-weight: bold;
}

h3 {
    font-size: 30px;
    }

h4 {
    font-size: 35px;
}
footer {
    font-family: 'Cormorant Infant', serif;
    color: var(--main-color);
}
.box {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    flex-direction: column;
}
@media (min-width: 768px) {
    .box {
        flex-direction: row;
    }
}
.box > * {
    flex: 1;
    margin: 15px;

}
.card {
    background-image: url(img/model.jpg);
    background-size: cover;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 15px;
}
.card p {
    font-size: 20px;
}
.card .card-title {
    font-size: 26px;
    font-weight: bold;
}
.wooden-wall {
    background-image: url(img/original-wooden-wall.jpg);
    background-size: cover;
    min-height: 150px;
}
.greeting {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.list {
    font-size: 20px;
    list-style-type: circle;
}
.gallery {
    display: grid;
    grid-gap: 30px 30px;
    grid-template-columns: repeat(3, 1fr);
    padding: 30px;
}
.gallery img {
    max-width: 100%;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.large-image {
    grid-column: span 2;
    grid-row: span 2;
}

.clock {
    width: 90px;
    position: absolute;
    right: 0;
    top: 0;
}